<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frames</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <div class="my-2">
            <a href="{% url 'video_detail' video_id %}"><button type="button" class="btn btn-secondary">Go Back</button></a>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for frame in frame_data.frames.all %}
                <div class="col">
                    <div class="card">
                        <img src="{{ frame.image.url }}" class="card-img-top" alt="Frame Image" width="500" height="600">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
